{
    "env": {
        "node": true
    },
    "extends": [
        "standard-with-typescript"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "@typescript-eslint/indent": [
            "error",
            4
        ],
        "@typescript-eslint/space-before-function-paren": [
            "error",
            {
                "asyncArrow": "always",
                "anonymous": "always",
                "named": "never"
            }
        ],
        "no-unused-vars": "off",
        "quotes": [
            "error",
            "single"
        ]
    }
}